* {
    transition: all 237ms ease-out;
    box-sizing: border-box;
}

body {
    font-family: 'Rye';
    background: "linear-gradient(180deg, rgba(36,0,0,1) 0%, rgba(121,9,32,1) 35%, rgba(196,196,196,1) 100%)",
}
