# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace

package-lock.json

# Node
dist/*
!dist/index.html
!dist/assets

# Vendors
node_modules/

# Build
/npm-debug.log
